/* landing page loading */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #1f4b18;
    border: 0px none #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
    background: #36882b;
}
::-webkit-scrollbar-thumb:active {
    background: #3f9b31;
}
::-webkit-scrollbar-track {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
    background: #000000;
}
::-webkit-scrollbar-track:active {
    background: #000000;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
html {
    background: #000 !important;
}
body {
    background: #000 !important;
}
.terminalwrapper {
    position: absolute;
    width: 100%;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
}
.terminal {
    background: #000;
    color: #0f0;
    /* text-shadow: 0 0 1px #0f0; */
    font: 10pt monospace;
    white-space: pre-wrap;
    tab-size: 4;
}
/* slide to unlock */
.slide-to-unlock-wrapper {
    background-color: #000;
    display: none;
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    border: 1px solid white;
    padding: 20px;
}
#page-wrap { 
    width: 100%; 
    margin: 0 auto; 
    height: auto;
}
#page-wrap > h2 { 
    color: #0f0;
    margin-bottom: 20px;
}
#well {
	padding: 0px 0px 0px 10px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 20px;
	
	background: -moz-linear-gradient(top, #010101, #181818);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #010101),color-stop(1, #181818));
	
	border: 2px solid #454545; 
	overflow: hidden; 
	
	-webkit-user-select: none;
}
#well > h3 {
  background: -moz-linear-gradient(left, #4d4d4d, 0.4, #4d4d4d, 0.5, white, 0.6, #4d4d4d, #4d4d4d); 
  background: -webkit-gradient(linear,left top,right top,color-stop(0, #4d4d4d),color-stop(0.4, #4d4d4d),color-stop(0.5, white),color-stop(0.6, #4d4d4d),color-stop(1, #4d4d4d)); 
  
  -moz-background-clip: text;
  -webkit-background-clip: text;
  
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  
  -webkit-animation: slidetounlock 5s infinite;
  
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0 !important;
  padding: 0;
  width: 100%;
  
  -webkit-text-size-adjust: none;
}
#slider {
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
	width: 80px;
	height: 60px;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}

@-webkit-keyframes slidetounlock {
	0% {
		background-position: -720px 0;
	}
	100%{
		background-position: 720px 0;
	}
}
/* choose lang */
.choose-lang-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 500px;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    border: 1px solid white;
    padding: 30px 15%;
}
.choose-lang > .btn {
    margin: 10px;
    width: 100%;
    border-radius: 10px;
}
.choose-lang > .btn:hover {
    color: white;
    background-color: #1f4b18;
}
.choose-lang > .btn:focus {
    color: white;
    background-color: #1f4b18;
}
/* terminal input */
.term-demo-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 600px;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
}
/* trading view */ 
.trading-view-wrapper {
    display: none;
    background-color: white;
    position: absolute;
    width: 100%;
    max-width: 600px;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    height: 500px;
}
